body {
	background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../img/bg-masthead.jpg");
	background-size: cover;

}

.card {
	font-family: "Merriweather", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	background-color: rgba(255, 255, 255, 0.877);
	box-shadow: 0 2px 7px rgba(255, 255, 255, 0.486);
}


.btn-o {
	color: #fff;
	background-color: #f4623a;
	border-color: #f4623a;
}

.btn-o:hover {
	color: #fff;
	background-color: #f24516;
	border-color: #ee3e0d;
}

.btn-o:focus,
.btn-o.focus {
	color: #fff;
	background-color: #f24516;
	border-color: #ee3e0d;
	box-shadow: 0 0 0 0.2rem rgba(246, 122, 88, 0.5);
}

.btn-o.disabled,
.btn-o:disabled {
	color: #fff;
	background-color: #f4623a;
	border-color: #f4623a;
}

.btn-o:not(:disabled):not(.disabled):active,
.btn-o:not(:disabled):not(.disabled).active,
.show>.btn-o.dropdown-toggle {
	color: #fff;
	background-color: #ee3e0d;
	border-color: #e23a0d;
}

.btn-o:not(:disabled):not(.disabled):active:focus,
.btn-o:not(:disabled):not(.disabled).active:focus,
.show>.btn-o.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(246, 122, 88, 0.5);
}
